@import "../../main.scss";

.user-tile, .add-user-tile {
  flex: 1 1 0%;

  min-width: 200px;

  margin: .5em .5em;
  padding: 1em;

  text-decoration: none;
  color: white;
  font-weight: 300;

  background-color: $secondary;
  border-radius: 2px;
  box-shadow: $shadow;

  transition: $transition;

  h3 {
    font-weight: 400;
  }

  &:hover {
    background-color: $secondary-200;
    box-shadow: $shadow-hover;
  }
}

.add-user-tile {
  text-align: center;
  line-height: 3.75em;
}
