@import "../../main.scss";

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;

  background-color: $secondary;
  transition: all .3s ease-out;

  box-shadow: none;

  width: 30vw;
  min-width: 10em;
  max-width: 15em;
  height: 100%;
  padding: 1em 0;

  z-index: 2;

  li {
    list-style: none;
    margin: $margin-h 2*$margin-v;

    a {
      color: white;
      text-decoration: none;
    }
  }

  &.isClosed {
    transform: translateX(-100%);
  }

  &.isOpen {
    transform: translateX(0);
    box-shadow: 0 0 6px $main;
  }

  .toggle-sidebar {
    position: absolute;
    display: block;
    left: 100%;

    transition: all ease-out .1s;

    margin-left: 8px;
    margin-top: -14px;
    padding: 3px;

    text-transform: uppercase;
    cursor: pointer;

    background-color: rgba(355, 355, 355, .7);
    border-radius: 50%;
    line-height: 0;

    &:hover {
      color: $main-200;
    }
  }

  .sidebar-content {
    z-index: 2;
  }
}

.sidebar-background {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, .2);
  width: 100vw;
  height: 100vh;

  z-index: 1;
}
