$main: #607D8B;
$main-200: #B0BEC5;

$secondary: #2196F3;
$secondary-200: #90CAF9;

$margin-h: 24px;
$margin-v: 8px;
$base-height: 72px;
$nav-height: 48px;

$shadow: 1px 1px 2px $main;
$shadow-hover: 2px 2px 3px $main;
$transition: all .3s ease-out;

body {
  margin: 0;
  box-sizing: border-box;

  * {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial;
  }

  h1, h2 {
    color: $secondary;
    font-weight: 300;
    text-align: center;
    margin: 1em 0;
  }

  a {
    color: $secondary;
    text-decoration: none;
  }
}

.app-container {
  width: 100%;
}

.app-menu {
  z-index: 2;
}

.main {
  z-index: 1;
  margin: 0 10%;
}

.user-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
