@import "../../main.scss";

.classroom-tile {
  flex: 0 1 20%;

  min-width: 300px;
  margin: .5em .5em;
  padding: 1em;

  background-color: $secondary;
  border-radius: 2px;

  transition: width .3s ease-out;

  h3 {
    font-weight: 400;
    color: white;
  }
}
