@import '../../main.scss';

.user-infos {
  font-weight: 300;

  .infos {
    display: flex;
    flex-wrap: wrap;

    .info-block {
      flex: 1 1 auto;
    }

    .label {
      font-weight: 400;
      margin-bottom: .3em;
    }

    .classrooms-list {
      width: 100%;
      margin: 1.5em 0;

      .loader {
        height: 3em;
      }

      li {
        list-style-type: none;
      }
    }
  }

  .edit-button {
    display: inline-block;
    text-align: center;

    transition: $transition;
    box-shadow: $shadow;
    background-color: $secondary;
    color: white;

    width: 5em;
    padding: 0.5em;
    border-radius: 2px;

    &:hover {
      background-color: $secondary-200;
      box-shadow: $shadow-hover;
    }
  }
}
