@import '../../main.scss';

.user-edit {
  .user-form {
    display: flex;
    flex-wrap: wrap;

    .form-group {
      flex: 1 1 0%;

      label {
        display: block;
        margin: .5em;
        line-height: 1.5em;

        font-weight: 300;
      }

      input {
        display: block;
        border: rgba(0, 0, 0, 0);
        border-bottom-width: 1px;
        border-bottom-color: $main-200;
        outline-width: 0;
        border-bottom-style: solid;

        margin: .5em;
        height: 1.5em;
        font-size: 16px;

        &:focus {
          border-bottom-width: 2px;
          border-bottom-color: $secondary;
        }
      }
    }
  }

  .confirm-create, .confirm-delete {
    p {
      margin-top: 3em;
      margin-bottom: 1em;
    }

    a {
      display: inline-block;
      text-align: center;
      cursor: pointer;

      transition: $transition;
      box-shadow: $shadow;
      background-color: $secondary;
      color: white;

      width: 110px;
      height: 1.5em;
      line-height: 1.5em;
      padding: 0.5em;
      border-radius: 2px;

      &:hover {
        background-color: $secondary-200;
        box-shadow: $shadow-hover;
      }
    }
  }

  .submit {
    text-align: right;
    margin: 1em 0;

    a {
      display: inline-block;
      text-align: center;
      cursor: pointer;

      transition: $transition;
      box-shadow: $shadow;
      background-color: $secondary;
      color: white;

      width: 110px;
      height: 1.5em;
      line-height: 1.5em;
      margin: 0 0.3em;
      padding: 0.5em;
      border-radius: 2px;

      &.delete-submit {
        background-color: #d50000;

        &:hover {
          background-color: #ef9a9a;
        }
      }

      &:hover {
        background-color: $secondary-200;
        box-shadow: $shadow-hover;
      }
    }

    .loader {
      height: 1.5em;
      width: 1.5em;

      .circular {
        stroke: white;
      }
    }
  }
}
